* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff7e6;
    color: #555;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff7e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    z-index: 100;
}

.logo img {
    max-width: 120px;
}

.nav-link {
  color: #000;
  text-decoration: none;
  padding: 25px;
}

.nav-link:hover .nav-link.active{
  color: #3374ff;
}

.sign-in-btn {
    background: #4D2C61;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.sign-in-btn:hover {
    background-color: #5849d2;
}

main {
    padding: 150px;
    text-align: center;
}

.highlight {
    color: #1454ff;
}

.tagline {
    margin-top: 20px;
    font-size: 1.2rem;
    font-style: italic;
    color: #777;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.search-bar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    width: 100%;
    max-width: 250px;
}

.search-bar button {
    padding: 12px 30px;
    background-color: #4D2C61;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.search-bar button:hover {
    background-color: #5849d2;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
    text-align: left; /* Align text to the left */
}

.course-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.course-card img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.course-card h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #430855; /* Deep purple text */
}

.course-card p {
    font-size: 14px;
    margin-bottom: 20px;
}

.course-card button {
    background-color: #430855; /* Deep purple button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-all {
    background-color: #430855;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

footer {
    background-color: #430855;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.join-btn {
    text-decoration: none;
}

.join-course-btn {
    background-color: #430855;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.join-course-btn:hover {
    background-color: #5849d2;
}