* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #4A148C;
}

.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4A148C;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #4A148C;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #7b1fa2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9c4d97;
}

.result-container {
    text-align: center;
    margin-top: 20px;
    display: none;
}

#recommended-course {
    font-weight: bold;
    font-size: 24px;
    color: #7b1fa2;
}

.footer {
    background-color: #333;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 20px;
    text-align: left;
}

.footer h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.footer a {
    color: #ddd;
    margin-bottom: 10px;
    display: block;
}

.footer-column {
    padding: 0 20px;
}
.footer p{
    margin-bottom: 20px;
}
