<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspira Courses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/course_list.css') }}">
</head>
<body id="body" style="display:none">
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Inspira Logo">
        </div>
        <nav class="nav">
            <a href="/home" class="nav-link">Home</a>
            <a href="/course_home" class="nav-link active">Courses</a>
            <a href="/quiz_home" class="nav-link">Quizzes</a>
            <a href="/about_us" class="nav-link">About us</a>
            <a href="/contact" class="nav-link">Contact us</a>
        </nav>

        {% if username %}
        <div class="user-info">
            <div class="dropdown">
                <button class="dropdown-btn">Welcome, {{ username }}</button>
                <div class="dropdown-content">
                    <a href="/logout">Log out</a>
                    <a href="/account">Account</a>
                    <a href="/settings">Settings</a>
                </div>
            </div>
        </div>
        {% else %}
            <div class="button-container">
                <a href="/login">
                    <button class="login-btn">Log in</button>
                </a>
                <a href="/index">
                    <button class="sign-in-btn">Sign Up</button>
                </a>
            </div>
        {% endif %}

    </header>

    <main>
        <h1>Our Courses</h1>
        <p>Learn from the bests to achieve the best</p>

        <div class="content">
            <div class="search-bar">
                <button>All</button>
                <select>
                    <option value="all">Categories</option>
                    <option value="Programming">Programming</option>
                    <option value="Business">Business</option>
                    <option value="Design">Design</option>
                </select>
            </div>
        </div>

            <div class="courses-grid">
                <div class="course-card">
                    <img src="{{ url_for('static', filename='images/course1.jpg') }}" alt="Course1">
                    <h2>Mathematics for CS</h2>
                    <p><span>22hr 30min</span> | <span>34 Courses</span> | <span>250 Participants</span></p>
                    <a href="/course_main" class="join-btn">
                        <button class="join-course-btn">Join Course</button>
                    </a>
                </div>

                <div class="course-card">
                    <img src="{{ url_for('static', filename='images/course2.jpg') }}" alt="Course2">
                    <h2>Mathematics for CS</h2>
                    <p><span>22hr 30min</span> | <span>34 Courses</span> | <span>250 Participants</span></p>
                    <a href="/course_main" class="join-btn">
                        <button class="join-course-btn">Join Course</button>
                    </a>

                </div>

                <div class="course-card">
                    <img src="{{ url_for('static', filename='images/course3.jpg') }}" alt="Course3">
                    <h2>Software Engineering Principles</h2>
                    <p><span>22hr 30min</span> | <span>34 Courses</span> | <span>250 Participants</span></p>
                    <a href="/course_main" class="join-btn">
                        <button class="join-course-btn">Join Course</button>
                    </a>
                </div>

                <div class="course-card">
                    <img src="{{ url_for('static', filename='images/course4.jpg') }}" alt="Course4">
                    <h2>Fundamentals of Business</h2>
                    <p><span>22hr 30min</span> | <span>34 Courses</span> | <span>250 Participants</span></p>
                    <a href="/course_main" class="join-btn">
                        <button class="join-course-btn">Join Course</button>
                    </a>
                </div>

                <div class="course-card">
                    <img src="{{ url_for('static', filename='images/course5.jpg') }}" alt="Course5">
                    <h2>The Art of Illustration</h2>
                    <p><span>22hr 30min</span> | <span>34 Courses</span> | <span>250 Participants</span></p>
                    <a href="/course_main" class="join-btn">
                        <button class="join-course-btn">Join Course</button>
                    </a>
                </div>

                <div class="course-card">
                    <img src="{{ url_for('static', filename='images/course6.jpg') }}" alt="Course6">
                    <h2>Physics Made Simple</h2>
                    <p><span>22hr 30min</span> | <span>34 Courses</span> | <span>250 Participants</span></p>
                    <a href="/course_main" class="join-btn">
                        <button class="join-course-btn">Join Course</button>
                    </a>
                </div>
            </div>
            <button class="view-all">View All</button>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Inspira. All rights reserved.</p>
    </footer>

    <script type="text/javascript">
        window.onload = function () {
            setTimeout(function() {
                document.getElementById("body").style.display = "";
            }, 10);
        }
    </script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/course_list.js') }}"></script>

</body>
</html>





