<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home 1 - Inspira</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="your-logo.png" alt="Inspira Logo">
            <span>Inspira</span>
        </div>
        <nav>
                        
            <a href="/home" class="nav-link">Home</a>
            <a href="/courses" class="nav-link">Courses</a>
            <a href="/quizzes" class="nav-link">Quizzes</a>
            <a href="/about_us" class="nav-link">About Us</a>            
            <a href="#">Contact Us</a>
        </nav>
        <div class="user-profile">
            <button class="username">username</button>
        </div>
    </header>
    
    

    <div class="hero">
        <div class="content">
            <h1>This Is Where<br><span>Your Journey</span> Starts</h1>
            <p>"Complete account of the system and expound e actual Contrary to <br> popular belief, Lorem Ipsum is not simply andom text. It has <br> roots""Complete account of the system and expound e actual <br>Contrary to popular belief, Lorem Ipsum is not simply andom text. <br> It has roots"</p>
            <button id="startButton">Start</button>
        </div>
        <div class="illustration">
            <img src="pordz/aa.jpg" alt="Image description">
            
     
    <script src="home.js"></script>
</body>
</html>