<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspira - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz_home.css') }}">
</head>
<body id="body" style="display:none">
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Inspira Logo">
        </div>
        <nav class="nav">
            <a href="/home" class="nav-link">Home</a>
            <a href="/course_home" class="nav-link">Courses</a>
            <a href="/quiz_home" class="nav-link active">Quizzes</a>
            <a href="/about_us" class="nav-link">About us</a>
            <a href="/contact" class="nav-link">Contact us</a>
        </nav>

        {% if username %}
        <div class="user-info">
            <div class="dropdown">
                <button class="dropdown-btn">Welcome, {{ username }}</button>
                <div class="dropdown-content">
                    <a href="/logout">Log out</a>
                    <a href="/account">Account</a>
                    <a href="/settings">Settings</a>
                </div>
            </div>
        </div>
        {% else %}
            <div class="button-container">
                <a href="/login">
                    <button class="login-btn">Log in</button>
                </a>
                <a href="/index">
                    <button class="sign-in-btn">Sign Up</button>
                </a>
            </div>
        {% endif %}

    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">

        <div class="hero-content">
            <h1>
                QUIZ
                <span class="highlight">NOW</span> !
            </h1>
            <p>
                Ready to put your knowledge to the test? Dive into our collection of the fun
                and challenging quizzes across a wide variety of topics.
                <br>
                <br>
                Whether you're a trivia master or just looking for a fun way to pass the time,
                we have something for everyone!
            </p>
            <br>
            <br>
            <br>
            <br>
            <div class="button-cont">
                <a href="/quiz_page">
                    <button class="start-btn">Start</button>
                </a>
            </div>
        </div>

        <div class="illustration">
            <img src="{{ url_for('static', filename='images/quiz_home.png') }}" alt="Picture">
        </div>
    </div>

 <footer class="footer">
        <div class="footer-column">
            <h4>Inspira</h4>
            <p>At Inspira, we're dedicated to helping you unlock your potential with expert-led courses designed for success. Learn, grow, and achieve your goals with us—anytime, anywhere.</p>
        </div>
        <div class="footer-column">
            <h4>Company</h4>
            <a href="/about_us">About Us</a>
            <a href="#">How to work?</a>
            <a href="#">Popular Courses</a>
        </div>
        <div class="footer-column">
            <h4>Support</h4>
            <a href="#">FAQ</a>
            <a href="#">Help Center</a>
            <a href="#">Privacy</a>
        </div>
        <div class="footer-column">
            <h4>Contact Info</h4>
            <p>+374288888</p>
            <p>inspira@gmail.com</p>
            <p>Paruyr Sevak 1, Yerevan, Armenia</p>
        </div>

    </footer>

    <script type="text/javascript">
        window.onload = function () {
            setTimeout(function() {
                document.getElementById("body").style.display = "";
            }, 10);
        }
    </script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
